$white: #fff;
$orange: rgb(239, 87, 21);
$orange-light: rgba(239, 87, 21, 0.4);

$black: rgba(26, 10, 3, 1);
$black-light: rgba(26, 10, 3, 0.7);
$font-size-global: 16px;
$font-family-general: "Poppins", sans-serif;

$font-family-title: "Source Serif Pro", serif;
$line-height: 1.6;

$global-bg: $white;
$global-font-color: $black-light;
$secondary-font-color: #ee5514;
